# Miscellaneous files

*~
\#*
Untitled*.ipynb
.idea

# MyST files

_build
node_modules
dist
coverage

# Intermediate LaTeX files

*.aux
*.bbl*
*.lof
*.log
*.dvi
*.ps

# Local configurations

.idea
.vscode
